body {
    font: 16px "Times New Roman";
    text-align: center;
    margin: 0;
}

main {
    margin-top: 100px;
    position: relative;
    left: 35%;
    width: 500px;
    height: auto;
    border: 1px solid black;
    border-radius: 25px;
    display: block;
}

/* Text Label */

.text {
    margin-top: 45px;
    margin-bottom: 17px;
    display: block;
    font-size: 18px;
}

/* Title */

h1 {
    background-color: #f4511e;
    border-radius: 25px 25px 0px 0px;
    padding-top: 12px;
    padding-bottom: 10px;
    position: relative;
    top: -22px;
    color: white;
}

/* Required Index */

.pointed
{
    color: red;
}

/* Button Style */

.button {
    margin-right: 20px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 170px;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Box */

input[type="text"], input[type="password"] 
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 50%;
    height: auto;
}

input[type="checkbox"]
{   
    display: block;
    width: 20px;
    height: 15px;
    position: relative;
    left: 300px;
    bottom: 20px;
}